Package: com.sa1zy.tiktokmod
Name: Sa1zyTikTokMod
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Visual profile customizer for TikTok
Maintainer: Den <den@sa1zy.local>
Author: Sa1zy
Section: Tweaks
